**
!.dockerignore
!services/
!services/captcha-solver/
!services/captcha-solver/Dockerfile
!services/captcha-solver/requirements.lock
!services/captcha-solver/app.py
!services/captcha-solver/provision_models.py
!services/captcha-solver/captcha_solver/
!services/captcha-solver/captcha_solver/*.py
!src/
!src/RpaFlow.Playwright/
!src/RpaFlow.Playwright/V2/
!src/RpaFlow.Playwright/V2/Captcha/
!src/RpaFlow.Playwright/V2/Captcha/captcha-models.manifest.json
!src/RpaFlow.Playwright/V2/Captcha/hcaptcha-models.manifest.json
!src/RpaFlow.Playwright/V2/Captcha/hcaptcha-models.LICENSE.txt
!src/RpaFlow.Playwright/V2/Captcha/ocr-charset.json
